// ****************************************************************
// IMPORTS
// ****************************************************************

@import "constants";
@import "functions";
@import "mixins";

// ****************************************************************
// ELEMENTS
// ****************************************************************

body {
	@include gaps;
	position: relative;
	box-sizing: border-box;
	font-family: $typography__font-family--default;
}

div {
	box-sizing: border-box;
}

input, select, button, textarea {
	@include text($typography__font-size--M, $typography__font-weight--bold);
	@include focus(0 0 0 2px $color__ui--deeplink-cta);
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	border-radius: $metrics__rounding--S;
	font-family: $typography__font-family--default;
	font-size: $typography__font-size--M;
	color: $color__brand--base-dark-blue;
	transition: all $duration__default;
}

input, select, button {
	padding: $metrics__gap--S !important;
}

input {
	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		color: $color__brand--base-dark-blue;
		-webkit-text-fill-color: $color__brand--base-dark-blue;
		transition: background-color 5000s ease-in-out 0s;
	}

	&::placeholder {
		color: $color__greys--60;
	}
}

h1, h2, h3, h4 {
	@include gaps;
}

h1 {
	@include text($typography__font-size--XL, $typography__font-weight--bold, $color__brand--base-dark-blue);
	@include respondFrom {
		font-size: $typography__font-size--XXL !important;
	}
	padding-bottom: $metrics__gap--S;
	text-align: center;
}

h2 {
	@include text($typography__font-size--L, $typography__font-weight--bold, $color__brand--base-dark-blue);
	@include respondFrom {
		font-size: $typography__font-size--XL !important;
	}
	padding-bottom: $metrics__gap--XS;
	text-align: center;
}

h3 {
	@include text($typography__font-size--M, $typography__font-weight--bold, $color__brand--base-dark-blue);
	padding-bottom: $metrics__gap--XS;
}

h4 {
	@include text($typography__font-size--M, $typography__font-weight--semi-bold, $color__greys--85);
	padding-bottom: $metrics__gap--XS;
}

p {
	@include gaps;
}

body {

}

// ****************************************************************
// UTILITIES
// ****************************************************************

// ****************************************************************
// PARTS
// ****************************************************************

.header {
	display: flex;
	align-items: center;
	height: unit(4.25);
	margin-bottom: $metrics__gap--L;
	background-color: $color__brand--base-dark-blue;
	$context: &;

	&__inside {
		@include limitWidth($width: $metrics__width--content-max);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		width: unit(6.25);
	}

	&__menu {

	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-decoration: none;

		&:hover {
			cursor: pointer;

			#{$context}__icon {
				// Thanks https://codepen.io/sosuke/pen/Pjoqqp (well, almost)
				filter: sepia(25%) saturate(3101%) hue-rotate(18deg) brightness(80%) contrast(102%);
				transition: all $duration__default;
			}

			#{$context}__label {
				color: $color__brand--brand-green;
				transition: all $duration__default;
			}
		}
	}

	&__icon {
		@include size($metrics__menu-item--size);

		margin-bottom: $metrics__gap--XS;
	}

	&__label {
		@include text($font-size: $typography__font-size--XXS, $color: $color__white);
	}
}

.app {
	@include limitWidth(
		$width: auto,
		$padding: $metrics__gap--S $metrics__gap--S $metrics__gap--XL $metrics__gap--S
	);
	display: grid;
	grid-gap: $metrics__gap--S;
	grid-template-columns: 1fr;
	transition: opacity $duration__slower;
	opacity: 0;

	@include respondFrom($breakpoint__L) {
		grid-template-columns: repeat(2, 1fr) !important;
	}
}

.controller {

}

.info {
	@include text($typography__font-size--S, $typography__font-weight--regular, $color__greys--60, $typography__line-height--large);
	text-align: center;
	margin-bottom: $metrics__gap--S;
	padding: $metrics__gap--S;
	border: 1px $color__greys--10 solid;
	border-radius: $metrics__gap--XXS;

	@include respondFrom($breakpoint__L) {
		text-align: left;
	}
}

.form {
	&__items {
		display: grid;
		grid-gap: $metrics__gap--S;
		grid-template-columns: 1fr;
		margin-bottom: $metrics__gap--S;

		@include respondFrom($breakpoint__M) {
			grid-template-columns: repeat(2, 1fr) !important;
		}

		@include respondFrom($breakpoint__L) {
			grid-template-columns: 1fr !important;
		}
	}

	&__item {
		@include formItem;

		&:last-child {
			@include respondFrom($breakpoint__M) {
				grid-column-start: span 2;
			}

			@include respondFrom($breakpoint__L) {
				grid-column-start: auto;
			}
		}

		&-wrapper {
			display: grid;
			grid-gap: $metrics__gap--S;
			grid-template-columns: 4fr 1fr;
		}

		&--first {

		}

		&--second {
			@include text($typography__font-size--S, $typography__font-weight--semi-bold, $color__greys--35);
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}

	&__select {
		&--address {
			background-image: url("https://static.liligo.com/img/cms/img/email-signature/asset-arrow.svg");
			background-size: 18.9706px 10.4852px;
			background-repeat: no-repeat;
			background-position: calc(100% - 16px) center;
		}
	}

	&__button {
		@include formItem($color__ui--deeplink-cta);
		color: $color__white;
		text-transform: uppercase;
	}
}

.message {
	box-sizing: border-box;
	margin-top: $metrics__gap--S;
	padding: $metrics__gap--S;
	width: 100%;
	font-size: $typography__font-size--S;
	text-align: center;
	border-radius: $metrics__gap--XXS;
	border-width: 1px;
	border-style: solid;
}

.output {
	display: grid;
	grid-gap: $metrics__gap--S;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, auto);

	@include respondFrom($breakpoint__M) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		height: auto;
	}

	@include respondFrom($breakpoint__L) {
		grid-template-columns: 1fr;
		grid-template-rows: auto $metrics__markup--height;
	}
}

.signature, .markup {
	width: 100%;
	padding: unit(2.5625) $metrics__gap--S $metrics__gap--S $metrics__gap--S;
	border: 1px $color__greys--10 solid;
	border-radius: 0 $metrics__gap--XXS $metrics__gap--XXS $metrics__gap--XXS;
}

.signature {
	@include label('Preview');

	&__content {
		@include size(100%);
		@include focus(none);
	}

	&__row {
		&--spacer {
			height: $metrics__gap--S;
		}
	}

	&__column {
		vertical-align: top;
	}

	&__web {

	}

	&__id {
		@include size($metrics__id--size);
		margin-right: $metrics__gap--S;
		margin-bottom: $metrics__gap--S;
	}

	&__data {
	}

	&__item {
		&--content {
			@include gaps;
			display: block;
		}

		&--name {
			@include text($font-size: $typography__font-size--XS, $font-weight: $typography__font-weight--bold, $line-height: $typography__line-height--normal);
		}

		&--role {
			@include text($typography__font-size--XS, $typography__font-weight--bold, $color__greys--60, $typography__line-height--large);
			margin-bottom: $metrics__gap--XS;
		}

		&--mobile {
			@include text($font-size: $typography__font-size--XS, $line-height: $typography__line-height--large);
		}

		&--email {
			@include text($font-size: $typography__font-size--XS, $line-height: $typography__line-height--large);
			display: block;
			text-decoration: none;
		}

		&--address {
			@include text($typography__font-size--XS, $typography__font-weight--regular, $color__greys--60, $typography__line-height--large);
			margin-bottom: $metrics__gap--S;
		}
	}

	&__noclip {
		display: none;
		white-space: nowrap;
		line-height: 0;
	}
}

.markup {
	@include label('Markup');
	@include text(
		$font-size: $typography__font-size--XXS,
		$font-weight: $typography__font-weight--regular,
		$color: $color__brand--base-dark-blue,
		$line-height: $typography__line-height--normal
	);

	font-family: $typography__font-family--code;
	word-break: break-all;
	white-space: break-spaces;
	overflow-y: scroll;

	&:focus,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		outline: none !important;
		box-shadow: 0 0 0 2px $color__ui--deeplink-cta;
		border: none;

		&:before {
			color: $color__white;
			background-color: $color__ui--deeplink-cta;
		}
	}
}

.help {
	background-color: $color__greys--5;
	opacity: 0;

	&__title {
		padding-bottom: $metrics__gap--L;
	}

	&__inside {
		@include limitWidth($padding: $metrics__gap--XL $metrics__gap--S $metrics__gap--XL $metrics__gap--S);
	}

	&__sections {

	}

	&__section {
		background-color: $color__white;
		padding: $metrics__gap--S;
		border: 1px $color__greys--10 solid;
		border-radius: $metrics__rounding--S;
		transition: all $duration__default;
		cursor: pointer;

		&:hover {
			box-shadow: 0 0.625rem 0.625rem -0.625rem rgb(0 34 62 / 25%);
			transition: all $duration__default;
		}

		&:not(:last-of-type) {
			margin-bottom: $metrics__gap--S;
		}

		&-title {
			//@include text($typography__font-size--M, $typography__font-weight--bold);
			padding-bottom: 0;

			&--opened {
				padding-bottom: $metrics__gap--M;
				border: 1px red solid;
			}
		}
	}


	&__steps {

	}

	&__step {
		&-title {

		}

		&-image {
			max-width: 100%;
		}

		&-description {

		}
	}
}

.footer {
	background-color: $color__brand--base-dark-blue;

	&__inside {
		@include limitWidth($padding: $metrics__gap--L $metrics__gap--S);
	}
}

// ****************************************************************
// KEYFRAMES
// ****************************************************************

